<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />

</head>
<body>

<nav th:replace="base :: main-navbar"></nav>

<!--<img src="car-icons.png" height="100">-->

<div class="container">

    <br/><br/><br/>
    <div class="bg-light py-4" align="center">
        <h1 class="text-info">Welcome to my Car shop</h1>
    </div>

    <p>Categories: <br>
    <div th:each="oneCate : ${categories}">
        <span th:text="${oneCate.catetype}"></span><br>
    </div>




    </p>
    <p>Cars available: <br></p>

    <div th:each="oneCar : ${cars}" >
        <div th:if="${oneCar.pictureUrl} != null">
            <img width="200" th:src="(${oneCar.pictureUrl})" />
            <div >
                <p><span th:text="${oneCar.brand}"></span>
                    <span th:text="${oneCar.modelname}"></span><br>

                    <span  th:text="${oneCar.msrp}"> </span>msg <br ></p>

                <div>
                    <span><a th:href="@{/detail/{id}(id=${oneCar.id})}">View More</a></span>
                </div>
                <br/>
                <br/>

                <br/>
                <br/>
            </div>
        </div>
    </div>

    <!--<div th:each="oneCate : ${categories}" >-->
        <!--<span th:text="${oneCate.catetype}"></span><br>-->
    <!--</div>-->

</div>

</div>



<footer th:replace="base :: footer"></footer>
<div th:replace="base :: scripts"></div>





</body>
</html>